*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
design items:
dark purple = rgb(78,65,202)
purple = rgb(214,52,120)

font-family: 'Nunito', sans-serif; (for titles)
font-family: 'Poppins', sans-serif; (for text)

*/

body{
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    min-height: 100svh;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to right top, rgb(214,52,120), rgb(78,65,202));
}

.title{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
    font-size: 20px;
    color: white;
    line-height: 1;
}

main{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
    border-radius: 20px;
    transition: 0.5s;
    overflow-x: hidden;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: 0.5s;
}

.form.active{
    transform: translateX(1000px);
}

label{
    font-size: 23px;
    margin-bottom: 15px;
    color: white;
    font-weight: 600;
    line-height: 1;
    display: none;
}

input{
    margin-bottom: 30px;
    width: 300px;
    height: 50px;
    border-radius: 15px;
    border: solid 2px white;
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: transparent;
}

::placeholder {
    color: white;
    opacity: 0.7;
}

button{
    width: 300px;
    height: 60px;
    border-radius: 15px;
    font-size: 20px;
    color: rgb(149,70,149);
    margin-top: 30px;
    background-color: white;
    border: none;
    font-weight: 700;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

.answer-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 15%;
    top: 40%;
}

.answer{
    font-size: 30px;
    max-width: 250px;
    color: white;
    text-align: center;
    max-height: 250px;
    overflow: scroll;
}

.reset{
    transform: translateX(-1000px);
    filter: none;
    width: 300px;
    transition: 0.5s;
}

.reset.active{
    transform: translateX(0);
}

img{
    width: 150px;
    margin-bottom: 30px;
}

