*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
design items:
peach = rgb(245,185,138)
pink = rgb(235,63,116)

font-family: 'Nunito', sans-serif; (for titles)
font-family: 'Poppins', sans-serif; (for text)

*/

body{
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    min-height: 100svh;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(rgb(245,185,138), rgb(235,63,116));
}

.title{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 35px;
    color: black;
    line-height: 1;
}

main{
    width: 80%;
    background-color: pink;
    padding: 20px 30px;
    border-radius: 20px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.form.active{
    display: none;
}

label{
    font-size: 23px;
    margin-bottom: 15px;
    color: black;
    font-weight: 600;
    line-height: 1;
}

input{
    margin-bottom: 30px;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    border: solid 1px rgb(233, 39, 97);
    text-align: center;
    font-size: 20px;
    background-color: transparent;
}

button{
    width: 300px;
    height: 75px;
    border-radius: 40px;
    font-size: 20px;
    color: white;
    margin-top: 30px;
    background-image: linear-gradient(rgb(235,63,116), rgb(245,185,138));
    filter: drop-shadow(0 10px 8px rgb(233, 39, 97));
    border: none;
}

.answer-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

.answer{
    font-size: 30px;
    max-width: 250px;
}

.reset{
    display: none;
    filter: none;
    width: 250px;
}

.reset.active{
    display: block;
}

